RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

RewriteRule ^about about.html [NC]
RewriteRule ^menu menu.html [NC]
RewriteRule ^contact contact.html [NC]
RewriteRule ^home index.html [NC]
