* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/* *:not(i) {
    font-family: "Poppins", sans-serif;
} */

header {
    position: fixed;
    width: 100%;
    height: max-content;
    background-color: #000000;
    padding: 1.8rem 5rem;
    isolation: isolate;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    width: 70%;
    justify-content: center;
}

nav a {
    font-size: 1.8rem;
    text-decoration: none;
}

nav a#logo {
    color: #D2B461;
    width: 30%;
}

nav ul a {
    color: #ffffff;
    font-weight: 600;
}

nav ul a:hover {
    color: #D2B461;
    border-bottom: 2px solid #D2B461;
}


h1 {
    font-size: 4rem;
}

#ham-menu {
    display: none;
}

nav ul.active {
    left: 0;
}

@media only screen and (max-width: 991px) {
    html {
        font-size: 56.25%;
    }

    header {
        padding: 2.2rem 5rem;
    }
}

@media only screen and (max-width: 767px) {
    html {
        font-size: 50%;
    }

    #ham-menu {
        display: block;
        color: #ffffff;
    }

    nav a#logo,
    #ham-menu {
        font-size: 3.2rem;
    }

    nav ul {
        background-color: black;
        position: fixed;
        left: -100vw;
        top: 73.6px;
        width: 100vw;
        height: calc(100vh - 73.6px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 1s;
        gap: 0;
    }
    .details-sections{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        padding: 2rem 5rem;
        width: 100%;
    }
    
}

@media only screen and (max-width: 575px) {
    html {
        font-size: 46.87%;
    }

    header {
        padding: 2rem 3rem;
    }

    header nav a img {
        width: 200px;
    }

    nav ul {
        top: 65.18px;
        height: calc(100vh - 65.18px);
    }
    /* .details-sec {
        flex-direction: column;
    }
    .details-sec1 {
        width: 100%;
    }
    .details-sec2 {
        width: 100%;
    } */
}


/* *******CAROUSEL******* */

.section {
    height: auto;
    display: grid;
    place-items: center;
    position: relative;
    background-color: #cfbaba4d;
    top: 9.5rem;
    /* opacity: 1; */
    z-index: -1;
}

.section2 {
    background-image: url(./imgs/flowers.png);
    background-position: top center;
    background-repeat: repeat-x;
}

.section::before {
    background-image: url('./imgs/main.png');
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.1;
}

.cardoosec {
    padding: 2rem 2rem;
}

h1 {
    color: #000;
    isolation: isolate;
    font-family: "RocknRoll One", Sans-serif;
    font-size: 31px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: -1.3px;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.contain {
    display: flex;
    flex-wrap: nowrap;
    isolation: isolate;
    justify-content: space-between;
    margin: 0rem 12rem;
}

.contain h3 {
    color: #060606;
    font-family: "Rochester", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 1rem 6rem;
}

.contain p {
    margin: 0rem 6rem;
    isolation: isolate;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    /* line-height: 20px; */
    letter-spacing: 1.1px;
}

p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    /* line-height: 20px; */
    letter-spacing: 1.1px;
}

.contain2 {
    margin: 2rem 10rem;
    isolation: isolate;
}

.btno {
    font-family: "Raleway", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    fill: #000000;
    color: #000000;
    background-color: #D2B461;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #D2B461;
    border-radius: 42px 42px 42px 42px;
    padding: 8px 20px 8px 20px;
}

.btno:hover {
    background: #ffffff;
    text-decoration: none;

}

.Categories h6 {
    font-size: 15px;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 800;
}

.redishh h4 {
    color: #060606;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    /* margin: 1rem 6rem; */
}

.Categories h2 {
    font-size: 55px;
    font-family: 'Rochester', cursive;
    font-weight: 800;
}

.Categories span {
    color: #D2B461;
}

@media only screen and (max-width: 767px) {
    .contain {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        isolation: isolate;
        justify-content: space-between;
        margin: 0rem 0.5rem;
    }

    .contain img {
        margin: auto;
    }

    .contain h3 {
        color: #060606;
        font-family: "Rochester", Sans-serif;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin: 1rem 1rem;
    }

    .contain p {
        margin: 1.5rem 2rem;
        isolation: isolate;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 550;
        /* line-height: 20px; */
        letter-spacing: 1.1px;
    }

    p {
        margin: 1.5rem 1rem;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 550;
        /* line-height: 20px; */
        letter-spacing: 1.1px;
    }

    .contain2 {
        margin: 2rem 1rem;
        /* isolation: isolate; */
    }
}

.details-sec {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    /* width: 100%; */
}

.details-sections{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    width: 100%;
}

.details-secs {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding: 2rem 5rem; */
    width: 100%;
}

.linkss {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/* unvisited link */
.linkss:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
.linkss:visited {
    color: #D2B461;
}

/* mouse over link */
.linkss:hover {
    color: #D2B461;
}

/* selected link */
.linkss:active {
    color: #D2B461;
}


/* About Page */
.aboutp {
    margin: 12.5rem 9rem;
    margin-bottom: 5rem;
}


.details-sec1 {
    width: 70%;
}

.details-sec h2 {
    font-size: 45px;
    font-family: 'Rochester', cursive;
    font-weight: 800;
}

.details-sec p {
    padding-top: 1rem;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    /* line-height: 20px; */
    letter-spacing: 1.1px;
}

.details-sec2 {
    width: 30%;
    text-align: center;
    padding: 1rem 1rem;
    margin: auto;
}

/* Style all font awesome icons */
.fa {
    padding: 15px;
    font-size: 23px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #D2B461;
    color: white;
}

.fa-instagram {
    background: #D2B461;
    color: white;
}

.fa-whatsapp {
    background: #D2B461;
    color: white;
}

/* Footer */
.footer-sec {
    /* margin-top: 9.5rem; */
    background-color: #000;
    text-align: center;
    padding: 30px;
    font-size: 1.8rem;
}

.footer-sec span {
    color: #fff;
}
